
// responsive
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;

//layout
$navHeight: 80px;

// color
$navColor: rgb(30, 30, 30);

// font
$logoFont: sans-serif, Serif;
$navFont: sans-serif, Serif;